<%= form_with(model: cardstate, local: true) do |form| %>
  <% if cardstate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cardstate.errors.count, "error") %> prohibited this cardstate from being saved:</h2>

      <ul>
      <% cardstate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :card_id %>
    <%= form.number_field :card_id %>
  </div>

  <div class="field">
    <%= form.label :delay %>
    <%= form.text_field :delay %>
  </div>

  <div class="field">
    <%= form.label :due %>
    <%= form.date_field :due %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
