<p id="notice"><%= notice %></p>
<%= 
if !params[:answer].nil?
  "You answered #{params[:answer]}" 
end 
%>
<BR> 

<%
#start from here
d = Card.find(@cardstate.card_id) 
correct_answer = d[:term_a] * d[:term_b]

#If user got the answer right
if params[:answer].to_i == correct_answer %>
  <font size="5" color="green"><B> Correct! </B></font>
  <%if @cardstate.delay.nil?
        @cardstate.delay = 0.5
        @cardstate.save
    else
        @cardstate.delay *= 2
        @cardstate.due = Date.today + @cardstate.delay
        @cardstate.save
    end
#If user did not get the answer right
else %>
  <font size="5" color="red"> <B>Incorrect!</B></font>  
<%  @cardstate.due = ""
    @cardstate.delay = ""
    @cardstate.save
end
%>
<p>

</p>
<%= link_to 'Next Question', User.find(@cardstate.user_id) %>

<!--
<p>
  <strong>User:</strong>
  <%= @cardstate.user_id %>
</p>

<p>
  <strong>Card:</strong>
  <%= @cardstate.card_id %>
</p>

<p>
  <strong>Delay:</strong>
  <%= @cardstate.delay %>
</p>

<p>
  <strong>Due:</strong>
  <%= @cardstate.due %>
</p>

<%= link_to 'Edit', edit_cardstate_path(@cardstate) %> |
<%= link_to 'Back', cardstates_path %>
-->