<H1>Time to study!</H1>

<p>
  <%= @user.name %>
</p>

<p>
  <!-- <strong>Lastreviewed:</strong> <%= @user.lastreviewed %> -->
</p>

<p>
  <strong> <%= 
  if @currentcard.empty?
    "You're all finished with study for today."
  else
    operatoroptions = ["x","times","multiplied by","lots of"]
    "What is #{@currentcard["first_term"]} #{operatoroptions.sample} #{@currentcard["second_term"]}?"
  end
  %> </strong>
</p>


<!-- The form starts here -->
<% if !@currentcard.empty? %>
  <%= form_tag("/cardstates/" + @currentcard["cardstate_id"].to_s, method: "get") do %>
    <%= label_tag(:q, "Answer") %>
    <%= number_field_tag(:answer) %>
    <%= submit_tag("Submit") %>
  <% end %>
<% end %>


<%= link_to 'Back', users_path %>
<% if logged_in? %>
  <%= link_to "Log out", logout_path, method: :delete %>
<% end %>
