<p id="notice">Time to study!<%= notice %></p>

<p>
  <%= @user.name %>
</p>

<p>
  <strong>Lastreviewed:</strong>
  <%= @user.lastreviewed %>
</p>

<p>
  <strong>Study this</strong>
  <%= 
  if @cardsforreview.empty?
    "You're all finished with study for today."
  else
    a = @cardsforreview.sample.card
    ar = [a.term_a,a.term_b].shuffle
    "#{ar[0]} X #{ar[1]}"
  end

  %> 
</p>

<%= link_to 'Back', users_path %>
