<p id="notice"><%= notice %></p>

<p>
  <strong>Term a:</strong>
  <%= @card.term_a %>
</p>

<p>
  <strong>Term b:</strong>
  <%= @card.term_b %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
